@import "variables";

.container {
  margin: 10px;
}
.header {
  margin-top: 20px;
  margin-left: 2rem;
  width: 70%;
  display: flex;
  align-items: center;
  > div {
    justify-content: space-around;
  }
  input {
    width: 70%;
    height: 46px;
  }
  img {
    height: 60px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    margin-top: 20px;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    > div {
      justify-content: space-between;
      input {
        width: 70%;
      }
    }
    img {
      margin-bottom: 10px;
    }
  }
}
.orderBy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 60%;
  p {
    cursor: pointer;
    font-weight: bold;
  }
  ul {
    top: 2rem;
    right: -8rem;
    padding-left: 0;
    position: absolute;
    list-style: none;
    border: 1px solid $grey-v2;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    padding: 0 10px;
    z-index: 1;
    background-color: white;
    li {
      cursor: pointer;
      padding: 12px;
      span {
        padding: 7px;
      }
      span:hover {
        background: #c4c4c4;
        color: white;
        border-radius: 4px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    ul {
      right: -2rem;
    }
  }
}
.results {
  width: 60%;
  padding: 0 30px;
  margin-top: 18px;
  @media screen and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.resultItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  box-sizing: content-box;
  margin-bottom: 10px;
  padding: 10px 20px;
  word-break: break-word;
  position: relative;
  &:after {
    content: "";
    background: $grey-v2;
    position: absolute;
    bottom: 1px;
    left: 30px;
    height: 1px;
    width: 90%;
  }
  > div > p:last-of-type {
    margin-bottom: 5px;
  }
  > p:last-of-type {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 18px;
    color: $grey-v2;
  }
  &:hover {
    background: $grey-v3;
    border-radius: 4px;
    &:before {
      content: "";
      background: $grey-v3;
      z-index: -1;
      top: 15px;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    > div > p:last-of-type {
      color: white;
    }
  }
}

.pagination {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  button {
    background: white;
    border: 1px solid $grey-v2;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: $grey-v2;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
  }
  @media screen and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
